.zines{
    border-radius: 32px;
    border-style: none;
    border-color: pink;
}
.zines-card{
    border-style: none;
    border-color: pink;
}
.zines-card-body{
    border-style: none;
}
.zines-card-title{
    color: rgb(51,51,51);
    font-size: 40px;
    font-family: 'Crafty Girls', serif;
    text-align: center;
    margin-top: -11px;
 
}
