.footer-dark{
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.subscribe{
    border-radius: -9px;
    margin-top: 0px;
    padding-top: 36px;
    border-top-width: 30px;
    border-top-style: initial;

    color: #313437;
    background-color: #fff;
    padding: 50px 0;
}
.subscribe-title{
    font-size: 30px;
    /* font-family: 'Crafty Girls', serif; */
    text-shadow: 5px 4px 7px rgb(119 125 130);
}
.subscribe-text{
    color: palevioletred;
    font-size: 21px;
    /* font-family: 'Concert One', serif; */
    box-shadow: 0px 0px;
}

.subs-btn{
    transform: perspective(590px) translate(3px);
    text-shadow: 0px 0px 20px rgb(139 135 135);
    background: blueviolet;
}